@model SCardApp.Models.UserMaster

@using (Html.BeginForm("Login", "UserMaster", FormMethod.Post))
{
    // @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.ReturnURL)

<div>
    @if (TempData["ErrorMSG"] != null)
    {
        <label style="color:maroon;"> @TempData["ErrorMSG"] </label><br />
    }
    <div class="row">
        <table class="table-responsive">
            <tr><td><b>User Name</b></td></tr>
            <tr><td> @Html.TextBoxFor(s => Model.UserName, new { @placeholder = "Username" })</td></tr>
            <tr><td><b>Password</b></td></tr>
            <tr><td> @Html.PasswordFor(Model => Model.PCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })</td></tr>
            <tr><td colspan="2"></td></tr>
            <tr><td colspan="2" style="align-content:center"><button type="submit">&nbsp;&nbsp;Login&nbsp;&nbsp;</button></td></tr>
        </table>
     </div>
  
</div>
}


